:root {
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  scrollbar-width: none;
}

body {
  margin: 0;
  font-size: 16px;

  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;

  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  transition: all linear 0.3s;
  scrollbar-width: none;
}

.bg-img {
  background: center/cover no-repeat;
}
.blue {
  color: steelblue;
}
.bg-blue {
  background-color: steelblue;
  color: white;
}
.f-8 {
  font-size: 8px !important;
}
.f-10 {
  font-size: 10px !important;
}
.f-12 {
  font-size: 12px !important;
}
.f-14 {
  font-size: 14px;
}
.f-16 {
  font-size: 16px;
}
.cursor {
  cursor: pointer;
}

.monospace {
  font-family: monospace, "Courier New", Courier;
}
.italics {
  font-style: italic;
}
.capitalize {
  text-transform: capitalize;
}

.dark-theme {
  background-color: black;
  color: white;
}

.light-theme {
  background-color: white;
  color: rgba(0, 0, 0, 0.75);
}

.border-gray {
  border: 2px solid rgba(105, 105, 105, 0.4);
}

.border-bottom-black {
  border-bottom: 1px solid black;
}
.border-bottom-white {
  border-bottom: 1px solid white;
}

.shadow-light {
  box-shadow: 2.5px 2.5px 20px rgba(105, 105, 105, 0.3);
}
.shadow-lite {
  box-shadow: 2.5px 2.5px 25px rgba(105, 105, 105, 0.3);
}

.flex-scroll {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  gap: 10px;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  padding: 15px 10%;
  cursor: pointer;
  > * {
    flex: 0 0 70%;
    scroll-snap-align: center;
  }
}

input,
textarea,
select {
  border-radius: 5px !important;
  resize: none !important;
  padding: 5px 10px;
  font-weight: bold;
  font-family: inherit;
  font-size: 14px !important;
  color: white;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1.5px solid gray;
  &:focus {
    border-color: darkslateblue;
  }
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 5px 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
  &:hover {
    filter: brightness(0.8);
  }
}

.max-400 {
  max-width: 400px;
}
.max-600 {
  max-width: 600px;
}
.max-500 {
  max-width: 500px;
}
.max-350 {
  max-width: 350px;
}
.max-450 {
  max-width: 450px;
}
.max-800 {
  max-width: 800px;
}

.hover-exp {
  &:hover {
    transform: scale(1.075);
  }
}

.hover-dark {
  &:hover {
    filter: brightness(0.8);
  }
}

.touch-rotate {
  &:active {
    transform: rotate(360deg);
    transition: transform ease-in-out 0.5s;
  }
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
